@model VideoOnDemand.Web.Models.MovieViewModel

@{   
    ViewBag.Title = "Video";
}

<div class="container">
    <h2>Video</h2>
    <h3>Mi Pelicula</h3>
    <button class="btn-success" onclick="Ampliar()">Ampliar</button>
    <button class="btn-primary" onclick="Normal()">Normal</button>
    <center>
        <video id="MiVideo" controls width="600" height="400" autoplay >
            <source src="~/Multimedia/Tiburon.mp4" type="video/mp4" />
        </video>
        
    </center>
</div>

<script>

var myVideo = document.getElementById("MiVideo");

function Ampliar() {
    myVideo.width = 700;
}

function Normal() {
    myVideo.width = 600;
}
</script> 

